# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DB_URL=
SOURCE_DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_DATABASE_URL=

# Email
EMAIL_SERVER=
EMAIL_FROM=

# GitHub OAuth
GITHUB_ID=
GITHUB_SECRET=

# Development
NODE_ENV='development'
